<div class='row'>
    <div class='col-6 mx-auto'>
        <div class="row" style="margin-top:150px">
            <input type="text" class="form-control col-9" #f />
            <button class="btn btn-info col-3" (click)="FonctionRef(f)">Ajouter</button>
        </div>
    </div>
</div>

<div class="row" style="margin-top:100px">
    <ul class="list-group list-group-flush col-8 mx-auto">
        <app-exemple *ngFor="let f of fruits" [fruit]="f" (SupprimF)="SupprimeFruit($event)"></app-exemple>
    </ul>
</div>